%h1 Please enter your name to get started

%form{action: '/names', method: 'post' }
  %label{ for: 'player_one' } Player one:
  %input{ type: 'text', name: 'player_one' }
  %input{ type: 'submit', value: 'Play' }

