%h1 #{@player_name} choose your weapon

%form{ action: '/player_two_choice', method: 'post' }
  %input{ type: 'submit', name: 'player_choice', value: 'Rock'     }
  %input{ type: 'submit', name: 'player_choice', value: 'Paper'    }
  %input{ type: 'submit', name: 'player_choice', value: 'Scissors' }
